<!-- Navbar -->
{% load static %}


<!-- Navbar -->
<nav class="navbar" id="navbar">
    <div class="nav-container">
        <div class="nav-logo grow-animation">
           
            <a><img src="{% static 'images/navayuga_logo.png' %}" alt="Navayuga Chemtech Logo"
                    class="nav-logo-image"></a>
        </div>

        <div class="nav-links">

            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'home' %}#about">About</a>
            <a href="{% url 'home' %}#products">Products</a>
            <a href="{% url 'home' %}#contact">Contact</a>
            <!-- <a href="#categories">Categories</a>  -->
            <button id="mobileMenuBtn" class="mobile-menu-btn">
                <svg width="24" height="24" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-16 6h16">
                    </path>
                </svg>
            </button>
        </div>

        <!-- Mobile Menu -->
        <div id="mobileMenu" class="mobile-menu">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'home' %}#about">About</a>
            <a href="{% url 'home' %}#products">Products</a>
            <a href="{% url 'home' %}#contact">Contact</a>
        </div>
</nav>